# ignore a single file
# mycode.class
Interface_2_joueurs_3.0.py
Test.py

# ignore an entire directory
.vscode/
classes/__pycache__/
images/

# ignore a file type
# *.json
*.xcf

# add an exception (using !) to the preceding rule to track a specific file
# !package.json
!images/dark_theme
!images/light_theme
